:root{

    --colorrojomodooscuro1: #ff0400;
    --colorrojomodooscuro2: #ff3936;
    --colorrojomodooscuro3: #ff7673;
    --colornegromodooscuro: #191919;
    --colorgresimodooscuro: #404040;

}

 
  
  
  h2{
      color: white;
      text-align: center;
  }
body{
    background-color: var(--colorgresimodooscuro);
}

footer{
    background-color: var(--colorrojomodooscuro2);
    padding: 5px;
    margin-top: 20px;
    width: 100%;
    /* bottom: 0; */
    h2{
        color: white;
        text-align: center;
    }
    
    
    
    
  
}

header{

    background-color: var(--colorrojomodooscuro2) ;
    position: auto;
    width: auto;
    top: 0;
    z-index: 10;
    
    nav{
        /* height: 90px; */
        display: flex;
        justify-content: center;
        align-items: center;
        
        a{
            color: white;
            margin: 25px;
            text-decoration: none;
            font-size: 24px;
        }
    }
}

h1{

    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    color: var(--colorrojomodooscuro2);
}

main{

   

    p{
        font-size: 18px;
        font-weight: lighter;
        line-height: 1.8;

    }
  

    h3{
        font-size: 36px;

        text-align: center;
        color: var(--colorrojomodooscuro2);
    }

    .contenedor_padre{

        display: flex;
        flex-direction: row;
       
        


    }
        
    
     
   

    .contenedor{
        display: flex;
        display: inline-block ;
        
        background-color: var(--colornegromodooscuro);
        width: 900px;
        height: 950px;
        padding: 60px;
       margin-top: 1%;
        border-radius: 5%;
        flex-direction: row;

        .mi{

            text-align: center;
        }
        .imagenes {
            width: 240px;
            margin-top: 50px;
            display: flex;
            justify-content: center; 
            align-items: center; 
        }
        
        .imagenes img {
            display: block; 
            width: 100%;
            border-radius: 5px;
        }
        

       

    }

    .contenedor2{
        margin-top: 1%;
        display: inline-block ;
        justify-content: space-between;
        background-color: var(--colornegromodooscuro);
        width: 900px;
        height: 950px;
        padding: 60px;
        border-radius: 5%;
        flex-direction: row;
        margin-left: 20px;
        
      
        .redes_socialess{

            display: flex;
            width: 900px;
            height: 300px;
            border-radius: 2%;
            background-color: white;
            justify-content: center;
           
            
        }

        .redes_sociales a{

            font-size: 90px;
            gap: 90px;
            margin-left: 40px;
            justify-content: center;
            transition: all ease 200ms;
        }

        .redes_sociales a :hover{

            transform: scale(1.2);
        }

        .linkedin{

            color:  #0A66C2;
        }

        .whatsapp{
            color: #25D366;
        }

        .phone{

            color: green;
        }
        .facebook{
            color: #4267B2;
        }

        .insta{
            color: #FD1D1D;
        }



        .correos{
            margin-top: 3%;
            display: flex;
            width: 900px;
            height: 300px;
            border-radius: 2%;
            background-color: white;


        }
        .correo{
            text-align: center;
        }

       


        
        .servicios{

            margin-top: 3%;
            display: flex;
            width: 900px;
            height: 300px;
            border-radius: 2%;
            background-color: white;
            
        }

        .servicioss{
            text-align: center;

        
        }
    
   
    }


   
}



